@import "tailwindcss";
@plugin "daisyui" {
  themes: winter --default, dark --prefersdark;
}


:root {

  --vp-nav-height: 0px;
  --vp-c-bg: #fcfcfc;

  --theme-color: #00629f;
}

.dark {

  --vp-c-bg: #1d2025;

}
