@import "tailwindcss";
@plugin "daisyui";


:root {


  /* --vp-font-family-base: "LXGW WenKai Lite", "Inter var experimental",
    "Inter var", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  --vp-font-family-mono: "LXGW WenKai Mono Lite", ui-monospace, SFMono-Regular,
    "SF Mono", Menlo, Monaco, Consolas, "Liberation Mono", "Courier New",
    monospace; */

  --vp-c-bg: #fcfcfc;

  --theme-color: #00629f;
}

.dark {

  --vp-c-bg: #1d2025;

}

